# Ignorar arquivos e pastas temporárias
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.idea/
.vscode/
venv/

# Ignorar gráficos e dados gerados
graficos/

# Permitir apenas o que está dentro do projeto
/*

# Exceções: manter estes arquivos/pastas
!/.gitignore
!/*.py
!/data/
!/app/
!/app/*.py
!/README.md
