.env
__pycache__/
graficos/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.idea/
.vscode/
venv/
app/sincronizar_dados.py
# .gitignore

# Ignora tudo inicialmente
/*

# Permite scripts e a pasta data/
!/*.py
!/data/
!/.gitignore
!/README.md
